.todo-board {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  position: relative;
  }

  .todo-board:before,
  .todo-board:after {
    content: '';
    position: absolute;
    top: 100%;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }

  .todo-board:before {
    left: 4px;
    right: 4px;
    height: 4px;
    z-index: -1;
    }

  .todo-board:after {
    left: 8px;
    right: 8px;
    height: 8px;
    z-index: -2;
    }

  .todo-board .todos-list,
  .todo-board .todos-toolbar {
    display: none;
    }

  .todo-board.__has-content .todos-list {
    display: block;
    }
  .todo-board.__has-content .todos-toolbar {
    display: block;
    }
